<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155305456263-b6m37ao0pgurtrtg338g7kr6juj2me7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155305456263-b6m37ao0pgurtrtg338g7kr6juj2me7h</string>
	<key>API_KEY</key>
	<string>AIzaSyCzoHm7BCmudW-dlPdXUZGur2Xwle4jQkE</string>
	<key>GCM_SENDER_ID</key>
	<string>155305456263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vantanConnect</string>
	<key>PROJECT_ID</key>
	<string>vantan-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>vantan-connect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155305456263:ios:b34d2a78982232b9a1be22</string>
</dict>
</plist>